<%- include("./partials/header") %>
<div class="container">
    <div class="jumbotron bg-dark">
        <h1 style="color: white;">ERROR 404</h1>
        <h4 style="color: white;">The page you requested could not be found .</h4>
        <br>
        <a class="btn btn-lg btn-outline-success" href="/">Go to Homepage</a>
    </div>
</div>



<%- include("./partials/footer") %>