<%- include("./partials/header") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-2 col-1"></div>
        <div class="col-lg-6 col-md-8 col-10" id="inputForm">
            <div class="container py-5">
                <form action="/forgot" method="POST">
                    <div class="alert alert-info" role="alert">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="form-group">
                        <label for="maalik">Email</label>
                        <input type="email" class="form-control" id="maalik" name="email"
                            placeholder="Enter email to send reset link" required>
                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-primary w-100" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-1"></div>
    </div>
</div>



<%- include("./partials/footer") %>